# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Systems
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
